{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} KuWiPic &mdash; {{ this_profile_user.username }} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<style>
  .profile_grid_images{
    max-height: 160px;
    max-width: 243px;
  }
</style>

{% endblock head %}

{% block body %}
        <div class="filter-panel">
          <div class="images_count">
            <p>{{ images_for_guest_count }} images</p>
          </div>
        </div> <!-- filter panel -->

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                  {% if images_for_guest %}
                    {% for image in images_for_guest %}
                    <div class="col-md-4">
                        <a href="{% url 'show_image' slug=image.slug %}"><img src="{{ image.image.url }}" class="profile_grid_images"></a>
                    </div>
                    {% endfor %}

                {% else %}
                    <h2 style="text-align: center"> Зображень немає :(</h2>
                {% endif %}



                </div>
            </div>
            <div class="col-md-3">
                <div class="main_menu">
                  <div class="info_block">
                  <div class="info_login">{{ this_profile_user.username }}</div>
                  Був в мережі <br>
                  {{ this_profile_user.last_login }}
                  </div>
                    <div class="list-group">
                         <a href="#" class="list-group-item active">Альбоми</a>
                             {% if all_albms_for_guest %}
                                {% for album in all_albms_for_guest %}
                                    <a href="{% url 'album_show' al_slug=album.slug %}" class="list-group-item">
                                    <span class="badge">{{ album.images_in_album.count }}</span>
                                    {{ album.name }}
                                    </a>
                                {% endfor %}
                              {% else %}
                                <a href="#" class="list-group-item">
                                    Альбомів немає
                                </a>
                              {% endif %}
                        </div>
                </div>
            </div>
        </div>

{% endblock body %}