{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} KuWiPic &mdash; {% trans 'регистрация' %} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<style>
  .singin_form{
/*    text-align: center;*/
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: snow;
  }
  #info_login{
    float: right;
    font-style: italic;
  }
  #info_pass{
    float: right;
    font-style: italic;
  }

  .info_error_text{
    color: red;
  }
  .info_ok_text{
    color: green;
  }


  
</style>

{% endblock head %}

{% block javascript %}
  <script src="{% static 'js/signup-form-validation.js' %}"></script>
{% endblock javascript %}

{% block body %}
      
  <form method="post" class="singin_form">
   
    <div class="form-group" id="username_block">
      <label for="input_login" class="control-label">{% trans 'Логин' %}</label>
      <input type="text" name="username" class="form-control" id="input_login" placeholder="{% trans 'Введите логин' %}">
      <div id="info_login">
      </div>
    </div>
    
    <div class="form-group password_block">
      <label for="input_pass" class="control-label">{% trans 'Пароль' %}</label>
      <input type="password" name="password" class="form-control" id="input_pass" placeholder="{% trans 'Введите пароль' %}">
    </div>
    
    <div class="form-group password_block">
      <label for="input_pass2" class="control-label">{% trans 'Пароль еще раз' %}</label>
      {% if form.password.errors %}
      {{ form.password.errors }}
      {% endif %}
      <input type="password" name="confirm_password" class="form-control" id="input_pass2" placeholder="{% trans 'Введите пароль' %}">
      <div id="info_pass">
      </div>
    </div>
    
  {% csrf_token %}
  <input class="btn btn-primary" id="submit_btn" type="submit" value="{% trans 'Регистрация' %}">
  </form>
      
{% endblock body %}