{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} KuWiPic &mdash; {% trans 'вход' %} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<style>
  .singin_form{
/*    text-align: center;*/
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: snow;
  }
</style>
{% endblock head %}

{% block body %}
      
  <form method="post" class="singin_form">
    {% if form.errors %}
    <div class="has-error">
    {% endif %}
    <div class="form-group">
        <label for="input_login" class="control-label">{% trans 'Логин' %}</label>
        <input type="text" name="username" class="form-control" id="input_login" placeholder="{% trans 'Введите логин' %}">
      </div>
        <div class="form-group">
          <label for="input_pass" class="control-label">{% trans 'Пароль' %}</label>
          <input type="password" name="password" class="form-control" id="input_pass" placeholder="{% trans 'Введите пароль' %}">
        </div>
        {% if form.errors %}
        <div style="color:#a94442"><b>{% trans 'Что-то пошло не так. Хнык..' %} </b></div><br>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Вход' %}">
    </div>
  {% csrf_token %}
  </form>
      
{% endblock body %}