{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} KuWiPic &mdash; {% trans 'Список пользователей' %} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
        
          <form action="/i18n/setlang/" method="POST">
            {% csrf_token %}
            <select name="language">
                <option value="ru">Ru</option>
                <option value="uk">Ua</option>
                <option value="en">En</option>
            </select>
            <br/>
            <input type="submit" value="{% trans 'change' %}" />
          </form>
         
          <h3>{% trans 'Список пользователей' %}</h3><br>
          <table class="table table-hover">
          <thead>
            <td><b>{% trans 'Логин' %}</b></td>
            <td><b>{% trans 'Дата регистрации' %}</b></td>
          </thead>
          {% for u in users %}
          <tr>
            <td><a href="{% url 'profile' username=u.username %}">{{ u.username }}</a></td>
            <td>{{ u.date_joined }}</td>
          </tr>
          {% endfor %}
          </table>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
{% endblock body %}