{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} KuWiPic &mdash; Список користувачів {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <h3>Список користувачів</h3><br>
          <table class="table table-hover">
          <thead>
            <td><b>Логін</b></td>
            <td><b>Дата реєстрації</b></td>
          </thead>
          {% for u in users %}
          <tr>
            <td><a href="{% url 'profile' username=u.username %}">{{ u.username }}</a></td>
            <td>{{ u.date_joined }}</td>
          </tr>
          {% endfor %}
          </table>
        </div>
        <div class="col-md-3"></div>
      </div>
{% endblock body %}