{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про KuWiPic</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>

<body>

    <table class="maintable">
	<tr>
		<td align="center" style="font-size: 22px;">
			<br><b>Ku</b>cher<br>
            <b>Wi</b>taliy<br>
            <b>Pic</b>ture<br><br><br>
            <p style="font-size: 26px;"><i> Мабуть найкращий хостинг картинок в радіусі 18 метрів ;) </i></p>
			<br><p><b>Користувачів зареєстровано:</b> {{ count_users }}</p>
			<p><b>Альбомів створено:</b> {{ count_albums }}</p>
			<p><b>Фотографій завантажено:</b> {{ count_images }}</p>
            <!--<img src="{% static 'media/about_pic.jpg' %}" width="500px"> -->
		</td>
	</tr>
	<tr>
		<td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/about">Про сайт</a> |
			<a href="/users">Корисутвачі</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
	</tr>

</table>

</body>
</html>