{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
	<title>KuWiPic &mdash; Завантажити зображення</title>
</head>

<body>
<table class="maintable">
	<tr>
		<td align="right">
			{% if user.is_authenticated %}
				<a href="/u/{{ user.username }}">{{ user.username }}</a>
				<a href="/logout">вихід</a>
			{% else %}
				<a href="/signin">Вхід</a>
				<a href="/signup">Реєстрація</a>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href="/"><img src="{% static 'media/kuwipic.png' %}"></a>
			<form method="post" enctype="multipart/form-data" action="">
				{% csrf_token %}
			<input type="file" name="img" /><input type="submit" value="Завантажити!" />
			</form>
		</td>
	</tr>
	<tr>
		<td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/users">Користувачі</a> |
            <a href="/about">Про сайт</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
	</tr>

</table>
</body>
</html>
