{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Останні завантаження</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>
<body>

<br><br><br><br>
{% if images %}
<h2 align="center">Останні завантаження</h2>
<table border="1" width="50%" align="center">
    <tr>

            {% for image in images %}
                <tr>
                <td align="center">
                {{ image.upload_date|date:"d.M.Y - H:i" }}
                </td>
                <td align="center">
                <a href="/{{ image.slug }}"><img src="{{ image.image.url }}" height="100" ></a>
                </td>

                </tr>
             {% endfor %}


    </tr>
    </table>

{% else %}
    <h1 align="center">Завантажень немає :(</h1>
{% endif %}

    <br>
    <table align="center">
    <tr>
        <td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/users">Користувачі</a> |
            <a href="/about">Про сайт</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
    </tr>
    </table>

</body>
</html>
