{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KuWiPic - {{ image.image.name }}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>
<body>

<table border="0" width="100%" style="">
    <tr>
        <td bgcolor="gray" style="padding:0px; text-align:center;" colspan="3">
           <img src="{{ image.image.url }}" align="center" width="860px">
        </td>
    </tr>
    <tr>
        <td width="20%">
        </td>
        <td class="about_text"> <br>

            <b>Назва:</b> {{ image.image.name }} <br>
            {% if image.album %}
            <b>Альбом:</b> <a href="{% url 'album_show' al_slug=image.album.slug %}">{{ image.album.name }} <br></a>
            {% endif %}
            <b>Дата завантаження:</b> {{ image.upload_date }} <br>
            <b>Переглядів:</b> {{ image.views }} <br>
            <b>Розмір:</b> {{ image.image.width }}x{{ image.image.height }}px <br>
            <b><a href="{{ image.image.url }}" target="_blank">Відкрити оригінал ({{ img_size }} кб.)</a></b>

        </td>
        <td width="20%">
        </td>
    </tr>
    <tr>
        <td width="20%">
        </td>
        <td class="about_text">
            <br><br>
            <i><h4>Коментарії:</h4></i>
            <hr>
            {% if comments %}
                {% for comm in comments %}
                <b><a href="{% url 'profile' username=comm.user %}"><i>{{ comm.user }}</i></a></b>
                <i>({{ comm.date }})</i><br><br>
                {{ comm.text }}<br>
                <hr>
                {% endfor %}
            {% else %}
                <h4>Це зображення поки ніхто не коментував</h4><hr>
            {% endif %}
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'comment_image' slug=image.slug  %}">
                {% csrf_token %}
                <input type="text" name="comment_text" maxlength="500" placeholder="Коментарій">
                <input type="submit" value="ок">
            </form>
            {% endif %}

        </td>
        <td width="20%">
        </td>
    </tr>
</table>
    <br><br>
    <table align="center">
        <td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/users">Користувачі</a> |
            <a href="/about">Про сайт</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
    </table>

</body>
</html>
