{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'О KuWiPic' %} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet"> 
{% endblock head %}

{% block body %}
  
  <div class="text-center about_block">
    <a href="/"><img src="{% static 'img/kuwipic.png' %}" width="140px"></a>
    <p class="kwp-text">
      <span style="color:blue">K</span>
      <span style="color:fuchsia">u</span>
      <span style="color:cadetblue">W</span>
      <span style="color:red">i</span>
      <span style="color:chartreuser">P</span>
      <span style="color:darkturquoise">i</span>
      <span style="color:coral">C</span>         
    </p>
    <p style="font-size: 26px;"><i> {% trans 'Наверно лучший фотохостинг в радиусе 15 метров ;)' %}</i></p>
    <div class="stats"> 
    <p><b>{% trans 'Пользователей зарегестрированно:' %}</b> {{ count_users }}</p>
    <p><b>{% trans 'Альбомов создано:' %}</b> {{ count_albums }}</p>
    <p><b>{% trans 'Фотографий загружено:' %}</b> {{ count_images }}</p>
    <p><b>{% trans 'Коментариев написано:' %}</b> {{ count_comments }}</p>
    </div>
  </div>
  
{% endblock body %}


