{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} KuWiPic - {{ image.image.name }} {% endblock %}

{% block head %}
<link href="{% static 'css/style2.css' %}" rel="stylesheet">

<style>
  .image_for_show{
    max-height: 750px;
    max-width: 980px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .img_show{
    text-align: center;
    background: #F5F5F5;
  }
  .img_desc{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 15px;
  }
  .comments_block{
    margin-top: 40px;
    margin-left: 80px;
  }
  .user_comment{
    word-wrap: break-word;
  }
</style>
{% endblock head %}

{% block javascript %}
  <script>
    function load_comments(){
      $.ajax({  
              url: "/i/{{ image.slug }}/getcomments/",  
              cache: false,  
              success: function(html){  
                $("#comments").html(html);  
                }  
            });        
    }
    $(document).ready(function(){
      load_comments();
      setInterval(load_comments, 5000);
    });
  </script>
{% endblock javascript %}

{% block body %}

    <div class="img_show">
      <img src="{{ image.image.url }}" class="image_for_show">
    </div>
    
    <div class="img_desc">
      <b>{% trans 'Название:' %}</b> {{ image.image.name }} <br>
      {% if image.album %}
      <b>{% trans 'Альбом:' %}</b> <a href="{% url 'album_show' al_slug=image.album.slug %}">{{ image.album.name }} <br></a>
      {% endif %}
      <b>{% trans 'Дата загрузки:' %}</b> {{ image.upload_date }} <br>
      <b>{% trans 'Просмотров:' %}</b> {{ image.views }} <br>
      <b>{% trans 'Размер:' %}</b> {{ image.image.width }}x{{ image.image.height }}px <br>
      <b><a href="{{ image.image.url }}" target="_blank">{% trans 'Открыть оригинал' %} ({{ img_size }} кб.)</a></b>
      <hr>
    </div>
    
    <div class="comments_block">
      <h4><i>{% trans 'Коментарии:' %}</i></h4>
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'comment_image' slug=image.slug  %}">
            {% csrf_token %}
            <input type="text" class="form-control" name="comment_text" maxlength="500" placeholder="{% trans 'Введите текст' %}" style="width:90%; float:left; margin-right: 15px;">
            <button type="submit" class="btn btn-info">{% trans 'Ок' %}</button>
            </form>
          {% endif %}
            <hr>
            {% if comments %}
               <div id="comments">

               </div>
            {% else %}
                <h4>{% trans 'Это изображение пока никто не комментировал' %}</h4><hr>
            {% endif %}
    </div>
{% endblock body %}