<p>{% load staticfiles %}</p>
<p>Останні завантаження <br /><br /><br /><br /> {% if images %}</p>
<h2 align="center">Останні завантаження</h2>
<p>{% for image in images %}{% endfor %}</p>
<table border="1" width="50%" align="center">
<tbody>
<tr>
<td align="center">{{ image.upload_date|date:"d.M.Y - H:m" }}</td>
<td align="center"><a href="/i/{{ image.slug }}"><img src="{{ image.image.url }}" alt="" height="100" /></a></td>
</tr>
</tbody>
</table>
<p>{% else %}</p>
<h1 align="center">Завантажень немає :(</h1>
<p>{% endif %} </p>
<table align="center">
<tbody>
<tr>
<td class="links"><a href="/i/">Головна</a> | <a href="/about">Про сайт</a> | <a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a></td>
</tr>
</tbody>
</table>
