html, body {

	font-family: Verdana, Tahoma;
	color: #666666;
	margin: 0;
	font-size: 14px;
	background-color: #dcdcdc;
	height: 100%;
}

.maintable {
	width: 100%;
	height: 100%;
}


.links {
	text-align: center;
	color: #666666;
	font-size: 15px;
	vertical-align: bottom;
}

.links a:link, .links a:visited, .links a:active {
	text-decoration: none;
	color: #666666;
}

.links a:hover {
	text-decoration: underline;
	color: #666666;
}

.im{
    margin: 0px 15px 25px 15px;
}

#main_title{
    color: #1e90ff;
}

.about_text {
	color: #666666;
	font-size: 16px;
	vertical-align: bottom;
}

.about_text a:link, .about_text a:visited, .about_text a:active {
	text-decoration: none;
	color: #666666;
}

.about_text a:hover {
	text-decoration: underline;
	color: #000;
}

.title_text {
	color: #666666;
	font-size: 16px;
	text-decoration: none;
	vertical-align: bottom;
}

.title_text a:link, .title_text a:visited, .title_text a:active {
	text-decoration: none;
	color: #666666;
}

.title_text a:hover {
	text-decoration: none;
	color: #000;
}

.errorlist{
    color: red;
}

.userbar_text {
	color: #666666;
	font-size: 16px;
	text-decoration: none;
	vertical-align: bottom;
}

.userbar_text a:link, .userbar_text a:visited, .userbar_text a:active {
	text-decoration: none;
	color: #666666;
}

.userbar_text a:hover {
	text-decoration: none;
	color: #000;
}