{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ album.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>
<body>

<table border="0" width="100%">
        <tr>
            <td width="100%" align="center" colspan="4">
                <h2><a href="/">KuWiPic</a> - {{ album.name }}</h2>
            </td>
        </tr>
        <tr>
            <td width="15%"> - </td>
            <td>
                <h2>{{ album.name }} </h2>
                {% if is_alb_owner %}
                <h3><a href="{% url 'album_edit' al_slug=album.slug %}">редагувати</a></h3>
                {% endif %}
                <h3><i>{{ album.images_in_album.count }} images</i></h3>

                {% for image in images %}
                <a href="{% url 'show_image' slug=image.slug %}"><img src="{{ image.image.url }}" width="580px" ></a><br><br>
                {% endfor %}
            </td>

            <td width="18%">
                <p><b>Назва:</b> {{ album.name }}</p>
                <p><b>Власник:</b><a href="/u/{{ album.owner }}"> {{ album.owner }}</a></p>
                <p><b>Тип:</b> {{ album.private_policy }}</p>
                <p><b>Дата створення:</b> {{ album.create_date }}</p>
                {% if edit_date %}
                <p><b>Дата редагування:</b> {{ album.edit_date }}</p>
                {% endif %}
            </td>
            <td width="15%">
                -
            </td>
        </tr>
        <tr>
            <td class="links" width="100%" colspan="4">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/users">Користувачі</a> |
            <a href="/about">Про сайт</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		    </td>
        </tr>
    </table>

</body>
</html>