{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{ album.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>
<body>

<table border="0" width="100%">
        <tr>
            <td width="100%" align="center" colspan="4">
                <h2>KuWiPic - {{ album.name }}</h2>
            </td>
        </tr>
        <tr>
            <td width="15%"> - </td>
            <td>
                <form method="post" enctype="multipart/form-data">
                    <h2>{{ EditAlbFm.name.label }}: {{ EditAlbFm.name }}</h2>
                    <h3>{{ EditAlbFm.private_policy.label }}: {{ EditAlbFm.private_policy }}</h3>

                {% for image in images %}
                <p><a href="/{{ image.slug }}"><img src="{{ image.image.url }}" width="180px" ></a>
                <br><a href="{% url 'delete_image' slug=image.slug %}">Видалити</a></p>
                {% endfor %}
                 Завантажити файли: {{ EditAlbFm.images }}
                    <!-- <input type="file" multiple="True" name="images" accept="image/*"> -->
                    {% csrf_token %}
                <p><input type="submit" value="Зберегти">   <a href="{% url 'album_delete' a_id=album.id %}">Видалити альбом</a> </p>
                </form>
            </td>

            <td width="18%">
            =
            </td>
            <td width="15%">
                -
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="4">
                footer
            </td>
        </tr>
    </table>

</body>
</html>