{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про KuWiPic</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>

<body>

    <table class="maintable">
   <tr>
            <td width="100%" align="center" colspan="4">
                <h2>KuWiPic - реєстрація</h2>
            </td>
        </tr>
	<tr>

		<td align="center" style="font-size: 22px;" bgcolor="white">
            <form method="post">
            {% csrf_token %}
            <p>Логін: {{ form.username }} {% if form.username.errors %} {{ form.username.errors }} {% endif %}  </p>
            <p>Пароль: {{ form.password }} {% if form.password.errors %} {{ form.password.errors }} {% endif %} </p>
            <p>Пароль ще раз: {{ form.confirm_password }} {% if form.confirm_password.errors %} {{ form.confirm_password.errors }} {% endif %}</p>
             <input type="submit" value="Реєстрація">
            </form>

		</td>
	</tr>
	<tr>
		<td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/about">Про сайт</a> |
			<a href="/users">Корисутвачі</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
	</tr>

</table>

</body>
</html>
