{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Користувачі</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'media/ico.png' %}" type="image/x-icon" />
</head>
<body>

<br><br><br><br>
{% if users %}
<h2 align="center">Список користувачів: </h2>
<table border="1" width="50%" align="center">
    <tr>
                <tr>
                <td width="40%">
                    <p align="center"><b>Логін</b></p>
                </td>
                <td>
                    <p align="center"><b>Дата реєстрації</b></p>
                </td>
            {% for u in users %}
                <tr>
                <td align="center" class="links">
                <p><a href="/u/{{ u.username }}">{{ u.username }}</a></p>
                </td>
                <td align="center">
                {{ u.date_joined }}
                </td>

                </tr>
             {% endfor %}


    </tr>
    </table>

{% else %}
    <h1 align="center">Пусто поки шо</h1>
{% endif %}

    <br>
    <table align="center">
    <tr>
        <td class="links">
			<a href="/">Головна</a> |
			<a href="/last">Останні завантаження</a> |
			<a href="/users">Користувачі</a> |
            <a href="/about">Про сайт</a> |
			<a href="https://github.com/0xVK/KuWiPic" target="_blank">GitHub</a>
		</td>
    </tr>
    </table>

</body>
</html>
